/* Reset default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Set box-sizing to border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.margin-sm {
  margin: 1%;
}
.margin-md {
  margin: 3%;
}
.margin-lg {
  margin: 5%;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.flexRowCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-multiple-carousel__arrow {
  background-color: #8338ec !important;
}
